<mat-card *ngIf="userDetail" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{userDetail.firstName}} {{userDetail.lastName}}</mat-card-title>
      <mat-card-subtitle>{{userDetail.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
            <div matLine>
                Số điện thoại: 
                <button mat-button>{{userDetail.mobile}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                Giới tính: 
                <button mat-button>{{userDetail.gender}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                Khóa tập: 
                <button mat-button>{{userDetail.package}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                BMI: 
                <button mat-button>{{userDetail.bmi}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                Chỉ số BMI: 
                <button mat-button>{{userDetail.bmiResult}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                Yêu cầu PT: 
                <button mat-button>{{userDetail.requireTrainer}}</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div matLine>
                Goal: 
                <button mat-button>
                    <mat-chip-listbox>
                        <ng-container *ngFor="let row of userDetail.important">
                            <mat-chip-option selected>{{row}}</mat-chip-option>
                        </ng-container>
                    </mat-chip-listbox>
                </button>
            </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  