<div class="logo text-center">
    <img width="300" src="assets/gymlogo.png" alt="">
</div>

<div class="registration-form m-3 p-4">
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Họ</mat-label>
                    <input formControlName="firstName" matInput placeholder="Nhập họ của bạn">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Tên</mat-label>
                    <input formControlName="lastName" matInput placeholder="Nhập tên của bạn">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Số điện thoại</mat-label>
                    <input formControlName="mobile" matInput placeholder="Nhập số điện thoại">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Cân nặng</mat-label>
                    <input type="number" formControlName="weight" matInput placeholder="Cân nặng">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Đơn vị là KG</mat-hint>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Chiều cao</mat-label>
                    <input [readonly]="!this.registerForm.value?.weight" type="number" formControlName="height" matInput placeholder="Chiều cao">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>Đơn vị là mét</mat-hint>
                  </mat-form-field>
            </div>

            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>BMI</mat-label>
                    <input readonly type="number" formControlName="bmi" matInput placeholder="BMI">
                    <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Kết quả BMI</mat-label>
                    <input readonly type="string" formControlName="bmiResult" matInput placeholder="Kết quả BMI">
                    <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                  </mat-form-field>
            </div>
            
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Bạn có muốn thuê PT?</label>
                <mat-radio-group formControlName="requireTrainer" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let choosen of ['Có', 'Không']" [value]="choosen">{{choosen}}</mat-radio-button>
                </mat-radio-group>
                <div>Lựa chọn của bạn là: </div>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Giới tính</label>
                <mat-radio-group formControlName="gender" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-radio-button>
                </mat-radio-group>
                <div>Giới tính của bạn là: </div>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                <mat-label>Chọn khóa tập</mat-label>
                <mat-select formControlName="package">
                    <mat-option *ngFor="let item of packages" [value]="item">{{item}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                <mat-label>Bạn mong muốn điều gì khi tập</mat-label>
                <mat-select multiple formControlName="important">
                    <mat-option *ngFor="let item of hobbies" [value]="item">{{item}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <label id="example-radio-group-label">Bạn đã tập gym trước đó chưa?</label>
                <mat-radio-group formControlName="haveGymBefore" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of ['Rồi', 'Chưa']" [value]="item">{{item}}</mat-radio-button>
                </mat-radio-group>
                <div>Lựa chọn của bạn là: </div>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn ngày</mat-label>
                    <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button color="accent">Gửi</button>
        <button *ngIf="isUpdateActive" (click)="update()" class="mt-4" mat-raised-button color="accent">Cập nhật</button>
    </form>
</div>